RewriteEngine on

# Todo lo que está dentro del directorio 'static/' lo enviamos directo.
# TODO: Esta regexp siempre realiza un match _al incio de la URL_, no se
# por qué...
RewriteCond %{REQUEST_FILENAME} !static/ [NC]

# Todas las demás URLs las enviamos como parámetro al index.php.
RewriteRule ^(.+)$ index.php?_q=$1 [L,QSA]
