body{
	background: white;
    }
.cont{
	    width: 50%;
        text-align: center;
        font-size: 1.4em;
}
.main-conainer-article{
    margin: 50px 0;
}
.icon-ii {
    height: 171px;
    width: 171px;
    border: 2px solid red;
    border-radius: 50%;
    opacity: 1;
    background-color: #ffffffe3;
    border: 3px solid #d9534f;
    transition: 1s all;
}

.icon-ii:hover {
    height: 171px;
    width: 171px;
    padding: 20px;
    border: 2px solid red;
    border-radius: 50%;
    background-color:tomato;
    border: 1px solid black;
}
.form {
    height: 100%;
    margin-top: -40px;
    text-align: center;
    color: white;
    border: 2px solid white;
    border-width: 0;
    transition: all .3s;
}

.centrar{
	text-align: center;
}
.icon-i {
    height: 170px;
    width: 170px;
    border: 2px solid red;
    border-radius: 50%;
    transition: all .2s;
    opacity: 0.8;
    transform: scale(0.9);
    cursor: pointer;
}

#icono {
	margin-top: 20px;
    font-size: 150px;
    color: #752323;
}

.redes{
    color: aqua;
    background-size: tomato
}

.ed-libertades{
    text-align: center;
color: #444;
font-size: 2.5em;
margin: 20px;
text-shadow: 0px 0px 10px silver;
}

.ed-item-libertad{
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    display: flex;
}

.item-libertades{
     text-align: center;
    background: #ffffff00;
    color: #0f0c0c;
    transition: 1s all;
    height: 250px;
    line-height: 1;
    margin: 10px;
    border-radius: 15px;
    border:1px solid silver;
    box-shadow: 0 0 10px 0 silver;
}
.item-libertades:hover{
    box-shadow: none;
    background:#d84551;
    color: white;
    border:4px solid gray;
    font-size: 1.1em;
    border-radius: 15px;
}
.item-libertad__icon{
    padding: 12px;
    font-size: 3em;
    border:0.8pc solid white;
    height: 100px;
    width: 100px;
    line-height: 0.5;
    border-radius: 50%;
    border-bottom:  100px red;
    }
.software{
	background-color: #212528;
	color:#eeee;
	padding: 40px;
}

.contactanos{
	background-color: #444;
	border-radius: 10px;
    text-align: center;
}

.item-redes{
    height: 100px;
    width: 100px;
    border-radius: 900px 900px 100px;
    background: white;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-transition: all 0.45s;
    -o-transition: all 0.45s;
    transition: all 0.45s;
    color: #1d1c20;
    font-size: 3em;
    text-align: center;
    background: #a32f17;
    padding: 25px;
    transition: 1s;
    border: 1px solid transparent;
    margin-top: 40px;
}

.item-redes:hover{
    height: 100px;
    width: 100px;
    border-radius: 100px 900px 900px 900px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-transition: all 0.45s;
    -o-transition: all 0.45s;
    transition: all 0.45s;
    color: tomato;
    font-size: 4em;
    text-align: center;
    background: #1d1c20;
    padding: 15px;
    transition: 1s;
    border: 1px solid tomato;
    margin-top: 40px;
    box-shadow: 10px 0 0 0 tomato;
    cursor: pointer;
}   
a{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
.nosotros{
    width: 60%;
    text-align: center;
}
.icon_our{
    display: flex;
    height: 204px;
    width: 204px;
    border-radius: 50%;
    border:3px solid #444;
    margin: 40px 0;
    align-items: center;
    transition: 0.5s all;
}
.icon_our:hover{
border:2px solid #d84551;
}
.item-fa {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-transition: all 0.45s;
    -o-transition: all 0.45s;
    transition: all 0.45s;
    color: #f5f5f5f5;
    font-size: 3em;
    text-align: center;
    background: #444;
    padding: 25px;
    transition: 0.5s;
    border:50px solid white;

}

.item-fa:hover{

	background: #d84551;
	color: #f5f5f5;
	font-size: 3em;
    padding: 40px 0;
    border:40px solid white;   
}
.circle{
	width: 140px;
	height: 140px;
	border-radius: 50%;
	border:3px solid black;
	padding: 17px;
}
.cicle:hover{
	width: 180px;
	height: 180px;
	border-radius: 50%;
	border:solid 1px red;
}
@media (max-width: 640px) {
	.cont{	   
	 width: 100%;
    text-align: center;
}

.cabecera{
	height: 100%;
}

.ed-libertades{
    margin:0;
}
}

/* #########Noticias######
*/
.title-pub{
	color: #444;
}


/* INICIAR*/

#f-i {
    background-image: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-65249.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
}

.formulario{
	color: white;
	background-color: black;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.8);
    position: relative;
    max-width: 300px;
}

.formu-iniciar{
	width: 100%;
}


.img-helmi {
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
}


/* botones*/

.button-salir{
background-color: black;
color: tomato;
border-radius: 15px;
border:1px solid red;
transition: 1s all;
}
.button-salir:hover{
background-color:#000;color: white;
border-color: 10px white;
}

.user-title{
	color: #f5f5f5;
}

#imgusuario{
	    width: 100px;
    height: 130px;
}

.form-team{
    /* background-color: white; */
    border-radius: 10px;
    border-color: silver;
     width: 100%;
    /* height: 35px; */
      padding: 8px 0px;
    overflow: hidden;
}

.a-admin{
	color: black;
}
.categorias {
    border: 1px solid #E5E5E5;
    border-bottom: none;
    border-radius: 3px;
}

.categorias ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.menu-activo-admin {
    background-color: rgba(0,0,0,.5);
    color: black;
}

.logo{
	width: 200px;
}

#imgusuario-l{
	height: 100px;
	width: 100px;
	border-radius: 50%;
}
.usuario-marco{
	border:1px solid #f5f5f5;
	box-shadow: 0 0 0.1px 0 black;
	padding: 10px;
}

#imgenavatar {
    width: 200px;
    height: 250px;
}

#imagenusuario {
    width: 300px;
    height: 350px;
}

@media (max-width: 1024px) {
    #f-i {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
}
.margen{
    padding: 80px 0;
}